.Experience {
  display: flex;
  flex-wrap: wrap;
  background: var(--neutral-cream);
  margin-top: 10px;
  padding: 20px;
}

/* General styling for all screen sizes */
.experienceUs {
  flex: 1 1 100%;
  padding: 10px;
}

.experienceUs video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-description {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  color: var(--text-body); /* Using the defined body text color */
}

.experiencebtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  background: var(--button-background);
  border: none;
  border-radius: 10px;
  color: var(--button-text);
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--link-hover);
  cursor: pointer;
}

/* Responsive styles for tablets and smaller devices */
@media (min-width: 768px) {
  .experienceUs {
    flex: 1 1 50%;
  }
  .experience-description {
    width: 80%;
  }
}

/* Responsive styles for phones and smaller devices */
@media (max-width: 767px) {
  .Experience {
    flex-direction: column;
  }

  .experience-description {
    width: 90%;
  }

  .experiencebtns {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Responsive styles for large screens (1424px and above) */
@media (min-width: 1424px) {
  .Experience {
    padding: 40px;
  }

  .experience-description {
    width: 70%;
  }
}
