.diff {
  text-align: center;
  background: var(--neutral-charcoal);
  min-height: 659px;
  padding: 160px 16px;
}
.diff h2 {
  color: var(--neutral-silver);
  font-size: 2rem;
}
.diff h5,
h6 {
  color: var(--neutral-silver);
}
.diff-icons {
  color: var(--accent-crimson);
}
.diff-description p {
  color: var(--neutral-silver);
}
.diff-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}
.divv-content {
  flex: 1 1 200px;
  display: grid;
}
.flexed {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
