.counter-all{
  background:aquamarine;
  background-position: center;
  background-size: cover;
  min-height: 40vh;
}
.counter {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.counter-body {
  flex-grow: 1;
  flex-basis: 200px;
}
.counter-body h3 span{
  font-size: 5vw;
}
