.About-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    gap: 16px;
    width: 98%;
    margin: auto;
}

.about-content {
    flex: 1 1 200px;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}
    
.about-body-card{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.about-flex{
    flex: 1 1 200px;
    margin: auto;
    padding: 20px;
}
.btns{
    display: flex;
    gap: 5px; 
    margin-top: 10px;
}