/* General Styles */
.header {
  background-color: var(--navbar-background);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%; /* Ensure full width */
  transition: top 0.3s, box-shadow 0.3s; /* Transition for box shadow */
  box-shadow: none; /* Initial state without shadow */
}

.fixed {
  position: fixed;
  top: 0;
  left: 0; /* Ensure it sticks to the left edge */
  right: 0; /* Ensure it sticks to the right edge */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow when fixed */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.coloredletter {
  color: #964b00;
}

.material-icons {
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
}

.navlists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}

.navlists .navLink {
  color: var(--navbar-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.navlists .navLink:hover {
  color: var(--link-hover);
}

.navlists .navLink::after {
  content: "";
  height: 2px;
  background: #964b00;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s;
}

.navlists .navLink:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .material-icons {
    display: block;
    font-size: 24px; /* Adjust the size of the icon */
    margin-right: 10px; /* Add margin to separate the icon from the logo */
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: block; 
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--navbar-background);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 20px;
  }

  .navlists {
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add margin to adjust vertical spacing */
  }

  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .navlists .navLink {
    font-size: 16px;
  }
}
