.footer {
  background: var(--footer-background);
  text-align: center;
  padding: 30px 0; /* Add some padding for spacing */
}

.footer-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  flex-wrap: wrap;
}

.footer-content {
  flex: 1 1 200px; 
  margin: 0 10px; /* Add some margin for spacing */
}

ul {
  list-style: none;
  padding: 0; /* Remove default padding */
}

ul li {
  margin-bottom: 10px; /* Add some margin between list items */
}

.footer-last {
  margin-top: 20px; /* Add some space between sections */
}
