.production{
    text-align: center;
}.production-steps{
    width: 80%;
    margin: auto;
}
.step{
    padding: 10px 0;
}
.procedure{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.procedure-box{
    flex: 1 1 200px;
    animation: appear linear forwards;
  /* animation-range: entry 25% cover 50%;
  animation-timeline: view(); */

}

@keyframes appear {
    0% {
      opacity: 0;
      scale: 0.8;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }