.images {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.images h3 {
  font-size: 3.4rem;
}
.images h4{
    font-size: 2rem;
}
.lined {
  background-color: var(--secondary-gold);
  width: 50px;
  height: 6px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 20px;
}
.lined:hover {
  width: 200px;
  margin: left 0;
}
