/* General Styles */
.hero-slide {
  position: relative;
}

.hero-image {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-text {
  text-align: left;
  color: var(--neutral-silver);
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;
  max-width: 600px;
  overflow-wrap: break-word;
  margin: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--neutral-cream);
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--neutral-silver);
}

.hero-text .btns {
  gap: 10px;
  display: flex;
}

.hero-text button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: var(--primary-blue);
  color: var(--neutral-cream);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-text button:hover {
  background-color: #dddddd;
}

.icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  border-radius: 10px;
}

.icon {
  font-size: min(5vw, 30px);
  color: yellow;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: var(--accent-crimson);
}

.icon:active {
  transform: scale(0.8);
  color: var(--secondary-gold);
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .hero-text {
    font-size: 1.4rem;
    padding: 20px;
    margin: 15px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
    color: var(--neutral-cream) !important;
  }
.text{
  color: #fff !important;

}
  .hero-text button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .icons {
    bottom: 10px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .hero-text {
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .hero-text button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .icons {
    bottom: 5px;
    padding: 5px 10px;
  }
}
